

html body {
  background-image: url("../images/greycircles.png");
  background-repeat: repeat;
  font-family: 'Roboto', sans-serif;
  color: #777777;
  height: 100%;



}

#navBar {
  height: 60px;
  background-color: white;
  border: 1px solid #dddddd;
  padding: 0 10%;
}

  .myName {
    float: left;
    background-color: #4aaaa5;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
  }
    .myName h1 {
      color: #ffffff;
      font-size: 34px;
      text-align: center;
  }

  .navMenu {
    float: right;
    background-color: white;
    height: 60px;
    line-height: 60px;
    display: flex;
  }

    .navMenu p {
      padding-left: 15px;
    }

.container {
  margin: 50px 10%;
}

#myInfo,
#myContacts {
  float: left;
}

#myInfo {
  width: 60%;
  background-color: white;
  border: 1px solid #dddddd;
  padding: 15px;
}

  .aboutMe h2 {
    border-bottom: 3px solid #dddddd;
    color: #4aaaa5;
    font-size: 24px;
    height: 40px;
  }

  #profilePic {
    margin-right: 20px;
  }

.myBio {
  padding-top: 20px;
}

.myBio p {
  line-height: 2;
}

#myContacts {
  width: 30%;
  background-color: white;
  border: 1px solid #dddddd;
  height: 150px;
  margin-left: 5%;
}

.contactIcons h2 {
  border-bottom: 3px solid #dddddd;
  color: #4aaaa5;
  font-size: 22px;
  margin: 15px;
  padding-bottom: 18px;
}

.mediaIcons {
  margin: 15px;
  text-align: center;
}

  .mediaIcons img {
    height: 45px;
  }

  .mediaIcons a:nth-child(2) {
    padding: 0 10%;
  }

footer {
  clear: both;
  color: lightgray;
  background-color: #666666;
  border: 5px solid #4aaaa5;;
  height: 100px;
  text-align: center;
}

footer p {
  line-height: 100px;
}

.siteFooter {
  border-top: 10px solid #4aaaa5;;

}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}
