

html body {
  background-image: url("../images/greycircles.png");
  background-repeat: repeat;
  font-family: 'Roboto', sans-serif;
  color: #777777;
  height: 100%;
  margin: 0 auto;
}

.container {
  width: 960px;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}

#navBar {
  height: 80px;
  background-color: white;
  border: 1px solid #dddddd;
}

  .myName {
    float: left;
    background-color: #4aaaa5;
    height: 80px;
    line-height: 80px;
    padding: 0 25px;
  }
    .myName h1 {
      color: #ffffff;
      font-size: 44px;
      text-align: center;
  }

  .navMenu {
    float: right;
    background-color: white;
    height: 80px;
    line-height: 80px;
  }

    .navMenu a {
      font-size: 18px;
      color: #777777;
      padding: 0 20px;
      text-decoration: none;
      border-left: 1px solid #666666;
    }
      .navMenu a:hover {
        color: #c89d04;
      }
      .navMenu a:nth-child(3) {
        padding-right: 0px;
      }
      .navMenu a:nth-child(1) {
        border: none;
      }


#myInfo {
  float: left;
  width: 60%;
  background-color: white;
  border: 1px solid #dddddd;
  padding: 25px;
}

  .aboutMe h2 {
    border-bottom: 3px solid #dddddd;
    color: #4aaaa5;
    font-size: 30px;
    font-weight: bold;
    height: 50px;
  }

  #profilePic {
    margin-right: 20px;
    border: 1px solid #dddddd;

  }

.myBio {
  padding-top: 20px;
}

.myBio p {
  line-height: 2;
}

#myContacts {
  float: right;
  width: 30%;
  background-color: white;
  border: 1px solid #dddddd;
  height: 150px;
}

.contactIcons h2 {
  border-bottom: 3px solid #dddddd;
  color: #4aaaa5;
  font-size: 18px;
  font-weight: bold;
  margin: 15px;
  padding-bottom: 18px;
}

.mediaIcons {
  margin: 15px;
  text-align: center;
}

  .mediaIcons a img {
    height: 65px;
  }

  .mediaIcons a:nth-child(2) {
    padding: 0 10%;
  }

footer {
  clear: both;
  color: lightgray;
  background-color: #666666;
  border: 5px solid #4aaaa5;;
  height: 100px;
  text-align: center;
}

footer p {
  line-height: 100px;
}

.siteFooter {
  border-top: 10px solid #4aaaa5;;

}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
  margin-top: 80px;
  margin-bottom: 80px;
}

/* styling for contacts.html and form*/
input, textarea {
  width: 99%;
  margin-bottom: 20px;
}

input {
  height: 30px;
  margin: 3px 15px 20px 0;
  font-size: 16px;
  color: lightgray
}

textarea {
  height: 240px;
  padding-top: 20px;
  font-size: 16px;
  color: #cccccc;
}

button {
  background-color: #4aaaa5;
  font-size: 16px;
  height: 40px;
  width: 120px;
  color: white;
}
/* portfolio screenshots */
.myWork a img {
  height: 200px;
  width: 260px;
  margin-bottom: 20px;
  border: 1px solid #dddddd;

}

.portContainer {
  margin-top: 40px;
}

.port1 {
float: left;
}
.port2 {
  float: right;
}
.port3 {
  float: left;
}
.port4 {
  float: right;
}
.port5 {
  float: left;
}
